body {
  background-color: transparent;
color: #ffffff;
font-family: "Lucida Console", "Courier New", monospace;
}

.texto-blanco {
  color: #fff; /* Color de texto blanco */
  font-family: "Lucida Console", "Courier New", monospace;
  text-align:center; margin-top:20px;
}
.carrusel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  max-width: 100%;
}

.carrusel {
  display: flex;
  transition: transform 1s ease;
  animation: desplazamiento 10s linear infinite;
  animation-duration: 15s;
}

.carrusel img {
  width: 15%; /* Ajusta el tamaño de las imágenes según tus preferencias */
  height: auto;
  object-fit: cover; /* Asegura que las imágenes cubran completamente el contenedor */
  margin-right: 10px; /* Ajusta el valor según tu preferencia */
}

@keyframes desplazamiento {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}