body {
  background-color: transparent;
color: #ffffff;
font-family: "Lucida Console", "Courier New", monospace;
}

.texto-blanco {
  color: #fff; /* Color de texto blanco */
  font-family: "Lucida Console", "Courier New", monospace;
  text-align:center; margin-top:20px;
}
#carousel {
  overflow: hidden;
  width: 300px; /* Ancho del carrusel */
  height: 200px; /* Altura del carrusel */
}

.slide {
  float: left;
  width: 100%;
  transition: transform 0.5s ease-in-out; /* Transición suave entre slides */
}

.slide img {
  max-width: 250px;
  height: auto; /* Esto asegura que la proporción se mantenga */
}